<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head', { title: 'Liste des articles' }) %>
<body>
    <%- include('../partials/header') %>
    <main class="wrapper">
        <h1>Liste des articles</h1>
        <div class="list">
            <% articles.forEach(article => { %>
                <%- include('./article-element', { article: article }) %>
            <% }) %>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>