<div class="card" style="width: 18rem;">
    <img src="<%= categorie.image %>" class="card-img-top" alt="<%= categorie.nom_categorie %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= categorie.nom_categorie %>
        </h5>
        <p class="card-text">
            description:<%= categorie.description %>.
        </p>
    </div>
    </div>
    <div class="card-footer"> 
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-success">Profile</button>
    </div>

</div>