<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Liste des categories' }) %>
<body>
    <%- include('../partials/header') %>
    <main class="wrapper">
        <h1>Liste des categories</h1>
        <div class="list">
            <% users.forEach( => { %>
                <%- include('./categorie-element', { categorie: categorie }) %>
            <% }) %>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>